/* body {
    color: #aaaaaa;
    background-color: #424242;
} */

/* input, textarea {
    color: #ffffff;
    background-color: #252525;
}

select {
    color: #ffffff;
    background-color: #333333;
} */

/* button {
    border-radius: 3px;
    border:1px solid #ffffff;
    color: #ffffff;
    background-color: #424242;
}

button:hover {
    font-weight: bold;
    border:2px solid #ffffff;
}

#btnConfirm {
    color: #333333;
    border:0px;
    border:1px solid #424242;
    background-color: #ffffff;
}

#btnConfirm:hover {
    font-weight: bold;
    border:2px solid #424242;
} */
